@import "styles/variables";
*{
  margin: 0;
  padding: 0;
}
.header{
  background-image: url("assets/zdenek.jpg");
  height: 200px;
  background-size: cover;
}
  .navigation{
    height: 50px;
    background-color:@navbar-color ;
    .navbar-container{
      margin: @container;
      .nav-button{
        color: @content-color;
        margin: 2px 5px;
        padding: 2px 15px;
        height: 45px;
        background-color: black;
        border: 0;
        &:hover{
          transition: 0.3s;
          cursor: pointer;
          background-color: darkgreen;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

  }
.container{
  margin: @container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sidebar{
    .side-card{
      img{
        height: 400px;
      }
    }
  }
  .main-content{
    .article-wrap{
    }
  }
}


