@import "styles/variables";
*{
  margin: 0;
  padding: 0;
}
.header{
  background-image: url("assets/zdenek.jpg");
  height: 200px;
  background-size: cover;
}
.mixin (@height:50px; @nav:@navbar-color){
    height: @height;
    background-color:@nav ;
    .navbar-container{
      margin: @container;
      .nav-button{
        color: @content-color;
        margin: 2px 5px;
        padding: 2px 15px;
        height: 45px;
        background-color: @nav;
        border: 0;
        &:hover{
          transition: 0.3s;
          cursor: pointer;
          background-color: darkgreen;
        }
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

  }
.navigation{
  .mixin();
}

@media all and (min-width: 0px) and (max-width: 400px) {
  .navigation{
    .mixin(@height: 100px; @nav: red);
  }

}

@media all and (min-width: 400px) and (max-width: 800px) {
  .navigation {
    .mixin(@height: 75px; @nav: blue);
  }
}
.container{
  margin: @container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .sidebar{
    .side-card{
      img{
        height: 400px;
      }
    }
  }
  .main-content{
&_article{
  margin: 15px;
  text-align: justify;
}
  }
}
.footer{
  height: 50px;
  background-color:@footer-color;
  &-text{
    text-align: center;
    padding: 15px;
  }
}


