<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checker</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="mainCont">
<h1> Let us know your car model </h1>
    <div>
    <span> Choose your model:
    <select id="carPicker">
        <option value="1">I don't have one</option>
        <option value="2"> Chevrolet</option>
        <option value="3">Audi</option>
        <option value="4">BMW</option>
        <option value="5">Opel</option>
    </select>
    </span>
    </div>
    <div>
    <span>How many years do you drive?
        <select id="yearPicker">
            <option value="1">0</option>
            <option value="2">1</option>
            <option value="3">less then 5</option>
            <option value="4">more then 5</option>
        </select>
    </span>
    </div>
    <div>
        <button onclick="showResult()">Show me!</button>
    </div>
</div>
<script src="../js/checker.js"></script>
</body>
</html>